<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mercadolibre.android.andesui.demoapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/andesui_demoapp_ic_launcher"
        android:label="@string/andesui_demoapp_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".components.feedbackscreen.FeedbackScreenDynamicShowcase"
            android:exported="false" />
        <activity
            android:name=".home.SearchActivity"
            android:theme="@style/AppTheme.Home" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StorybookActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="storybook"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.a11yplayground.SemanticViewsActivity"
            android:parentActivityName=".components.a11yplayground.PlaygroundHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="playground"
                    android:path="/semanticviews"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.a11yplayground.HeadingActivity"
            android:parentActivityName=".components.a11yplayground.PlaygroundHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="playground"
                    android:path="/a11yheading"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.a11yplayground.AnnounceForA11yActivity"
            android:parentActivityName=".components.a11yplayground.PlaygroundHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="playground"
                    android:path="/announcefora11y"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.a11yplayground.A11yLiveRegionActivity"
            android:parentActivityName=".components.a11yplayground.PlaygroundHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="playground"
                    android:path="/a11yliveregion"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.a11yplayground.ImportantForA11yActivity"
            android:parentActivityName=".components.a11yplayground.PlaygroundHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="playground"
                    android:path="/importantfora11y"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.a11yplayground.NextFocusActivity"
            android:parentActivityName=".components.a11yplayground.PlaygroundHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="playground"
                    android:path="/nextfocus"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.a11yplayground.A11yTraversalAfterActivity"
            android:parentActivityName=".components.a11yplayground.PlaygroundHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="playground"
                    android:path="/traversalafter"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.a11yplayground.ContentDescriptionActivity"
            android:parentActivityName=".components.a11yplayground.PlaygroundHomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="playground"
                    android:path="/contentdescription"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.a11yplayground.PlaygroundHomeActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="playground"
                    android:path="/home"
                    android:scheme="andes" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />

        <activity
            android:name=".components.datepicker.DatePickerShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="datepicker"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.bottomsheet.BottomSheetShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="bottom_sheet"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.MainActivity"
            android:theme="@style/AppTheme.Home">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="home"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.amountfield.AmountFieldShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="amountfield"
                    android:scheme="andes" />
            </intent-filter>

        </activity>
        <activity
            android:name=".components.badge.BadgeShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="badge"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.snackbar.SnackbarShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="snackbar"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.checkbox.CheckboxShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="checkbox"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.tag.TagShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tag"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.button.ButtonShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="button"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.progressindicator.ProgressShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="progress"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.linearprogressindicator.LinearProgressShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="linear_progress"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.message.MessageShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="message"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.textfield.TextfieldShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="textfield"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.thumbnail.ThumbnailShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="thumbnail"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".whatsnew.WhatsNewActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="whats-new"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.radiobutton.RadioButtonShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="radiobutton"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.card.CardShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="card"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.coachmark.CoachmarkShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="coachmark"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.list.ListShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="list"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.dropdown.DropdownShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dropdown"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.carousel.CarouselShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="carousel"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.tooltip.TooltipShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tooltip"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.slider.SliderShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="slider"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.switchandes.SwitchShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="switch"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.floatingmenu.FloatingMenuShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="floatingmenu"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.timepicker.TimePickerShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="timepicker"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.tabs.TabsShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tabs"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.feedbackscreen.FeedbackScreenShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="feedbackscreen"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.moneyamount.MoneyAmountShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="moneyamount"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.textview.TextViewShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="typography"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mercadolibre.android.mlwebkit.landing.WebkitLandingActivity"
            tools:node="remove" />
        <activity
            android:name="com.mercadolibre.android.mlwebkit.deeplinks.DeeplinksCatcherActivity"
            tools:node="remove" />
        <activity
            android:name="com.mercadolibre.android.melidata.experiments.MelidataExperimentsSplitActivity"
            tools:node="remove" />
        <activity
            android:name="com.mercadolibre.android.melidata.experiments.MelidataExperimentsForceActivity"
            tools:node="remove" />
        <activity
            android:name=".components.buttongroup.ButtonGroupShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="buttongroup"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
        <activity
            android:name=".components.searchbox.SearchboxShowcaseActivity"
            android:parentActivityName=".home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="searchbox"
                    android:scheme="andes" />
            </intent-filter>
        </activity>
    </application>

</manifest>